In [45]:
#Ranges

In [46]:
mylist=[1,2,3,4,5,6,7,8,9,10]

In [47]:
for num in range(0,10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [48]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [50]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [51]:
for num in range(0,11,3):
    print(num)

0
3
6
9

In [52]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [53]:
#Enumerate

In [54]:
index_count =0
for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count +=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [55]:
word ='abcde'
for index, letter in enumerate(word):
    print(index)

0
1
2
3
4

In [56]:
word ='abcde'
for index, letter in enumerate(word):
    print(letter)

a
b
c
d
e

In [57]:
word ='abcde'
for index, letter in enumerate(word):
    print(letter)
    print(index)
    print('\n')

a
0


b
1


c
2


d
3


e
4

In [58]:
#zip function

In [59]:
mylist1=['a','b','c']
mylist2=[1,2,3,]
for mylist1,mylist2 in zip(mylist1,mylist2):
    print(mylist1)
    print(mylist2)

a
1
b
2
c
3

In [60]:
mylist1=['a','b','c']
mylist2=[1,2,3,]
for l1,l2 in zip(mylist1,mylist2):
    print(l1)
    print(l2)

a
1
b
2
c
3

In [61]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
mylist3 =[11,22,33]
for item in zip(mylist1,mylist2,mylist3):
    print(item)

('a', 1, 11)
('b', 2, 22)
('c', 3, 33)

In [62]:
mylist=['a','b','c']
mylist2=[1,2,3,4,5,6,7,8,9,]
list(zip(mylist1,mylist2))

[('a', 1), ('b', 2), ('c', 3)]

In [63]:
mylist1=['a','b','c']
mylist2=[1,2,3,4,5]
mylist3 =[11,22,33]
for l1,l2,l3 in zip(mylist1,mylist2,mylist3):
    print(l1)
    print(l2)
    print(l3)

a
1
11
b
2
22
c
3
33

In [64]:
#in keyword

In [65]:
'x' in [1,2,3]

False

In [66]:
'x' in ['x','y','z']

True

In [67]:
'a' in 'Wonderala'

True

In [68]:
'mykey' in {'mykey':1}

True

In [69]:
d = {'mykey':345}

In [70]:
345 in d.values()

True

In [71]:
345 in d.keys()

False

In [72]:
345 in d.items()

False

In [73]:
#min, max

In [74]:
mylist = [10,20,30,40,50,60]
min(mylist)

10

In [75]:
max(mylist)

60

In [76]:
#Random Library

In [77]:
from random import shuffle
mylist = [1,2,3,4,5,6,7,8,9]
shuffle(mylist)
rd1 = mylist

In [78]:
rd1

[3, 9, 5, 8, 2, 4, 1, 6, 7]

In [79]:
from random import randint
randint(0,10)

3

In [80]:
randint(0,100)

86

In [81]:
my_num = randint(0,50)

In [82]:
my_num

42

In [83]:
#input()

In [85]:
input('Enter the number here')

Enter the number here 34

' 34'

In [86]:
input('What is mt fav colour?')

What is mt fav colour? Blue

' Blue'

In [87]:
int(input('Enter my fav number?'))

Enter my fav number? 44

44

In [90]:
Result = int(input('Enter my Fav Number'))

Enter my Fav Number55

In [92]:
Result

55

In [93]:
type(Result)

int

In [94]:
Number=float(input('Enter the 1st number'))
Number_two =float(input('enter the 2nd number'))
result=Number +Number_two
print(result)

Enter the 1st number34
enter the 2nd number34
68.0

In [95]:
type(result)

float

In [102]:
from random import shuffle
mausamlist =[23,34,4,56,78,98,54,34]
shuffle(mausamlist)
rom = mausamlist

In [103]:
rom

[34, 23, 4, 78, 98, 34, 56, 54]

In [107]:
from random import randint
randint(10,100)

70

In [108]:
randint(30,35)

30

In [109]:
#List comprehensions in Python

In [110]:
mystring = 'hello'
mylist = []
for letter in mystring:
 mylist.append(letter)

In [111]:
mylist

['h', 'e', 'l', 'l', 'o']

In [113]:
mystring = 'hello'
mylist = [letter for letter in mystring]

In [114]:
mylist

['h', 'e', 'l', 'l', 'o']

In [115]:
mylists = [x for x in 'april and may']

In [116]:
mylists

['a', 'p', 'r', 'i', 'l', ' ', 'a', 'n', 'd', ' ', 'm', 'a', 'y']

In [1]:
mynum = [num**2 for num in range(0,11)]

In [2]:
mynum

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [3]:
myeven = [x**2 for x in range(0,11) if x%2 == 0]

In [4]:
myeven

[0, 4, 16, 36, 64, 100]

In [5]:
celcius = [0,10,20,30,50,34.5]
fahrenheit = [((9/5)*temp+32) for temp in celcius]

In [6]:
fahrenheit

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [7]:
celcius = [0,10,20,30,50,34.5]
fahreneit = []
for temp in celcius:
 fahrenheit.append((9/5)*temp+32)
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 122.0, 94.1, 32.0, 50.0, 68.0, 86.0, 122.0, 94.1]

In [17]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,10)]

In [9]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [13]:
#nested loop

In [14]:
mylist=[]
for x in [2,4,6]:
 for y in [1,10,1000]:
    mylist.append(x*y)

In [16]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [18]:
mynest = [x*y for x in [2,4,6] for y in[1,10,1000]]

In [19]:
mynest

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]